.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative; /* Added position relative to contain the close button */
  max-width: 400px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
